<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {{subject}}
    </title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="ui container">
        <div class="ui sizer vertical segment">
            <h2 class="ui header">Welcome </h2>
        </div>
        <div>
            <table>
                <tr>
                    <th>Point Name</th>
                    <th>Out Value</th>
                </tr>
                {{#each points}}
                <tr>
                    <td>{{point_name}}</td>
                    <td>{{outvalue}}</td>
                </tr>
                {{/each}}
            </table>
        </div>


    </div>
</body>

</html>